option_settings:
  aws:elbv2:listener:443:
      DefaultProcess: https
      ListenerEnabled: 'true'
      Protocol: HTTPS
      SSLCertificateArns: arn:aws:iam::575398778607:server-certificate/selfcertificate
  aws:elasticbeanstalk:environment:process:https:
      HealthCheckPath: /label/health
      DeregistrationDelay: '20'
      HealthCheckInterval: '15'
      HealthCheckTimeout: '5'
      HealthyThresholdCount: '3'
      UnhealthyThresholdCount: '5'
      MatcherHTTPCode: 200
      Port: '80'
      Protocol: HTTP