option_settings:
  aws:elbv2:loadbalancer:
      AccessLogsS3Bucket: bucket.accesslogs
      AccessLogsS3Enabled: 'true'
      AccessLogsS3Prefix: application-service

  SecurityGroups: '`{ "Ref" : "loadbalancersg" }`'
        ManagedSecurityGroup: '`{ "Ref" : "loadbalancersg" }`'

  Resources:
    loadbalancersg:
      Type: AWS::EC2::SecurityGroup
      Properties:
        GroupDescription: Default.Application Load Balancer Security Group
        SecurityGroupIngress:
          - IpProtocol: tcp
            FromPort: 443
            ToPort: 443
            CidrIp: 0.0.0.0/0
          - IpProtocol: tcp
            FromPort: 80
            ToPort: 80
            CidrIp: 0.0.0.0/0
        SecurityGroupEgress:
          - IpProtocol: tcp
            FromPort: 80
            ToPort: 80
            CidrIp: 0.0.0.0/0
        Tags:
          - Key: Project
            Value: Beanstalk
          - Key: Name
            Value: 'Beanstalk Default Security Group'